footer.footer
    .footer__child
        ul.footer__logo
            li: a(href='#')
                svg.footer__icon
                    use(xlink:href='/img/sprite.svg#icon-gmail')
            li: a(href='#')
                svg.footer__icon
                    use(xlink:href='/img/sprite.svg#icon-github')
            li: a(href='#')
                svg.footer__icon
                    use(xlink:href='/img/sprite.svg#icon-facebook2')
            li: a(href='#')
                svg.footer__icon
                    use(xlink:href='/img/sprite.svg#icon-linkedin1')
        ul.footer__links
            li: a.foot_link(href='#') About us
            li: a.foot_link(href='#') Download apps
            li: a.foot_link(href='#') Become a guide
            li: a.foot_link(href='#') Careers
            li: a.foot_link(href='#') Contact
    p.footer__copyright Made by Aranyak Panigrahi , Rakesh Kenguva